<%= render "layouts/signin-header" %>

<div class="note-form">
  <h3>Ready to get started? Create your account below.</h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= f.email_field :email, :placeholder => "Email" %>
    <%= f.password_field :password, :placeholder => "Password" %>
    <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
    <%= devise_error_messages! %>
    <div class="input-container">
      <%= f.submit "Sign Up" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
