<h1 class="logo-send">
  <%= link_to "TYML", tymls_url %>
<h1>
<h2 class="tagline-send">
  The best way to share content<br />with the people you care about.
</h2>

<div class="note-form">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

    <h3>Sign Up</h3>

    <%= f.email_field :email, :placeholder => "Email" %>

    <%= f.password_field :password, :placeholder => "Password" %>

    <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>

    <%= devise_error_messages! %>

    <div class="input-container">
      <%= f.submit "Sign Up" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
