<h1>Listing tymls</h1>

<table>
  <tr>
    <th>Sender</th>
    <th>Receiver</th>
    <th>Url</th>
    <th>Note</th>
    <th>Viewed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tymls.each do |tyml| %>
  <tr>
    <td><%= link_to tyml.sender.name, tyml.sender %></td>
    <td><%= link_to tyml.receiver.name, tyml.receiver %></td>
    <td><%= link_to tyml.url %></td>
    <td><%= tyml.note %></td>
    <td><%= tyml.viewed %></td>
    <td><%= link_to 'Show', tyml %></td>
    <td><%= link_to 'Edit', edit_tyml_path(tyml) %></td>
    <td><%= link_to 'Destroy', tyml, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tyml', new_tyml_path %>
