<div class="container">
  <b>Recieved TYMLs:</b>
  <% @current_user.received_tymls.each do |tyml| %>
  <div class="tyml-container group">
    <div class="tyml-profile-image"><%= image_tag tyml.sender.profile_pic %></div>
    <div class="tyml-content-wrap">
      <p class="tyml-user"><span><%=  tyml.sender.name %></span> thought you might like&hellip;</p>
      <p class="tyml-url"><%=  link_to tyml.url, tyml_url(tyml, :viewed => 'true', :url => tyml.url ), :method => 'put', :target => '_blank' %></p>
      <p class="tyml-note"><%=  tyml.note %></p>
      <!-- update this to show conditionally. if tyml.viewed == true then include .tyml-viewed div -->
      <div class="tyml-viewed">Viewed: <%=  tyml.viewed %></div>
      <!-- end conditional -->
    </div>
  </div>
  <% end %>
</div>

