<div class="container">
  <% @current_user.received_tymls.order('created_at desc').each do |tyml| %>
    <% @tyml = tyml %>
  <div class="tyml-container group">
    <div class="tyml-profile-image"><%= image_tag tyml.sender.profile_pic %></div>
    <p class="tyml-user"><%=  tyml.sender.name %> <span class="tyml-copy">thought you might like&hellip;</span></p>
    <div class="tyml-content-wrap">
      <p class="tyml-url"><%=  link_to tyml.url, tyml_url(tyml, :viewed => 'true', :url => tyml.url ), :method => 'put', :target => '_blank' %></p>

      <% unless tyml.note.blank? %>
        <p class="tyml-note"><%=  tyml.note %></p>
      <% end %>

      <!-- update this to show conditionally. if tyml.viewed == true then include .tyml-viewed div -->
      <% unless tyml.viewed != true %>
        <div class="tyml-viewed">Viewed</div>
      <% end %>
      <!-- end conditional -->

      <% tyml.comments.each do |comment| %>
        <%= comment.user.name %>
        <%= image_tag comment.user.profile_pic, :width => "200" %>
        <%= comment.comment_text %>
      <% end %>
      <%= render 'comment' %>
    </div>
  </div>
  <% end %>
</div>
