<div class="container">
  <% @current_user.sent_tymls.reverse.each do |tyml| %>
  <div class="tyml-container group">
    <% if tyml.receiver %>
    <div class="tyml-profile-image"><%= image_tag tyml.receiver.profile_pic %></div>
    <% end %>
    <p class="tyml-user"><span class="tyml-copy">You thought</span>

    <% if tyml.receiver %>
      <%=  tyml.receiver.name %>
    <% else %>
      <%= tyml.receiver_email %>
    <% end %>

	<span class="tyml-copy">might like&hellip;</span></p>
    <div class="tyml-content-wrap">
      <p class="tyml-url"><%=  link_to tyml.url, tyml_url(tyml, :viewed => 'true', :url => tyml.url ), :method => 'put', :target => '_blank' %></p>
      <% unless tyml.note.blank? %>
        <p class="tyml-note"><%=  tyml.note %></p>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
