<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Profile pic:</b>
  <%= image_tag @user.profile_pic, :width => 200, :class => "profile_pic" %>
</p>

<p>
  <b>Bio:</b>
  <%= @user.bio %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
</p>

<%= render 'tyml_form' %>

<p>
  <b>Recieved TYMLs:</b>
  <% @user.received_tymls.each do |tyml| %>
      <ul>
    <li><%=  tyml.sender.name %></li>
    <li><%=  link_to tyml.url, tyml_url(tyml, :viewed => 'true', :url => tyml.url ), :method => 'put', :target => '_blank' %></li>
    <li><%=  tyml.note %></li>
    <li>Viewed: <%=  tyml.viewed %></li>
  </ul>
  <% end %>
</p>

<p>
  <b>Sent TYMLs:</b>
  <% @user.sent_tymls.each do |tyml| %>
  <ul>
    <li><%=  tyml.receiver.name %></li>
    <li><%=  link_to tyml.url, tyml_url(tyml, :viewed => tyml.viewed.to_s, :url => tyml.url), :method => 'put', :target => '_blank' %></li>
    <li><%=  tyml.note %></li>
    <li>Viewed: <%=  tyml.viewed %></li>
  </ul>
  <% end %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
