<h3>Hey!</h3>

<h3><%= @tyml.sender.name %> Though You Might Like...</h3>

      <p><%= @tyml.url %></p>

      <p><%= @tyml.note %></p>

      <p><%= @tyml.sender.name %></p>

      <p><%= link_to "Reply by signing up for TYML", root_url %></p>


<h3>TYML is the best way to share content with people you care about.
  <center>Sign up for free <%= link_to 'here', new_user_registration_url %>!</center></h3>
